<div id='container'>
<!-- Your code here -->
<!-- START SOLUTION -->
  <nav class="navigation">
    <ul>
      <li>
          <a href="#/links">Links</a>
      </li>
       <li>
          <a class='selected' href="#/shorten">Shorten</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <form name='shortlyForm' ng-submit="addLink()" novalidate>
      <input name='link' type="url"
        ng-model="link.url"
        placeholder="Enter your url here" required
        ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>

      <button type="submit" value="Shorten" ng-disabled='shortlyForm.$invalid'>
        add
      </button>
    </form>
    <div ng-if='shortlyForm.link.$error.required && shortlyForm.$dirty' class="message">
      <h2>Url required</h2>
    </div>
    <div ng-show='shortlyForm.link.$error.url && shortlyForm.$dirty' class="message">
      <h2>Not a valid url</h2>
    </div>
  </div>
  <!-- END SOLUTION -->
</div>


