<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-brand">Germ Tracker</div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/users">Users</a></li>
                <li><a href="/cases">Reported Cases</a></li>
                <li><a href="/reports">Reports</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
</nav>
