<% layout('layout') -%>
<div class="entry-module">
  <div>
    <h1>Add a newly infected User</h1>
    <p></p>
  </div>

  <form action="/addinfected" class="form-horizontal" method="POST">
    <div class="form-group">
      <label>Enter the Infected User's Name</label>
      <input type="text" id="infectedName" class="form-control" name="name" required>
    </div>
    <div style="text-align:center">
      <button type="submit" class="btn btn-success next-btn"><i class="fa fa-long-arrow-right"></i></button>
    </div>
  </form>
</div>
