<% layout('layout') -%>
<link rel="stylesheet" href="home.css"/>
<h1 style="text-align:center">Administrative Control Panel</h1>
<div class='row-1 col-md-12'>
	<a href="/disease">
		<div id="tile-1" class='tile'>
			<div class="vert-align">
				<h3>View and Update Disease Data</h3>
				<i class="fa fa-eyedropper"></i>
			</div>
		</div>
	</a>
	<a href="/cases">
		<div id="tile-2" class='tile'>
			<div class="vert-align">
				<h3>View and Edit Existing Outbreaks</h3>
				<i class="fa fa-map-marker"></i>
			</div>
		</div>
	</a>
	<a href="/newReportedCase">
		<div id="tile-3" class='tile'>
			<div class="vert-align">
				<h3>Calculate Individual Disease Risk Levels</h3>
				<i class="fa fa-calculator"></i>
			</div>
		</div>
	</a>
</div>
<div class='row-2 col-md-12'>
	<a href="/reports">
		<div id="tile-4" class='tile'>
			<div class="vert-align">
				<h3>View Risk Assessment Reports</h3>
				<i class="fa fa-bar-chart"></i>
			</div>
		</div>
	</a>
	<a href="/users">
		<div id="tile-5" class='tile'>
			<div class="vert-align">
				<h3>View Full List of Active Users</h3>
				<i class="fa fa-users"></i>
			</div>
		</div>
	</a>
	<a href="/addinfected">
		<div id="tile-6" class='tile'>
			<div class="vert-align">
				<h3>Add a Newly Infected Patient</h3>
				<i class="fa fa-plus-square"></i>
			</div>
		</div>
	</a>
</div>