<% layout('layout') -%>
<div>
    <div class="container"></div>
</div>
<div class="col-sm-10 col-sm-offset-1">
  <div>
    <h1>Add a new infected User</h1>
    <p></p>
  </div>

  <form action="/addinfected" method="POST">
    <div class="form-group">
      <label>Enter Infected User Name</label>
      <input type="text" id="infectedName" class="form-control" name="name" required>
    </div>
    <div style="text-align:center">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Next</button>
    </div>
  </form>
