<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Germ Tracker</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-brand">Germ Tracker</div>
      </div>
    </nav>
    <div class="container">
      <div class="starter-template">
        <%- body %>
      </div>
    </div>
  </body>
</html>
