<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Germ Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
    <%- partial("partials/header") %>
    <div class="container">
      <div class="starter-template">
        <%- body %>
      </div>
    </div>
  </body>
</html>
