<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Germ Tracker</title>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <div class="container-fluid">
      <h1>Germ Tracker</h1>

      <%- body %>
    </div>
  </body>
</html>
