<% layout('layout') -%>
<div class="center col-sm-12">

  <!--    <h1 style="text-align:center;"> Login</h1>
      <form action="/auth/login" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="centered">
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </div>
      </form>-->

    <h2 class="margTop">You've reached the Administrative Web Portal
      <br>
    </h2>
    <h3><span class="fa fa-lock"></span> Are you a public health official?
      <br>
      <a href="/auth/google" class="buttonPlace2 btn btn-danger"><span class="fa fa-google-plus"></span> Login With Google</a>
      </h1>
      <div>
      <br>
    </h3>
    <h3 class="margTop">
      Looking for the mobile app demo?
    </h3>
    <a href="/mobile" class="buttonPlace btn btn-info">Continue to Mobile App Demo</a>



      <!-- <p>Need to register? <a href="/auth/signup">  Signup</a></p> -->
    </div>
</div>