<% layout('layout') -%>

<div class="col-sm-10 col-sm-offset-1">
  <div>
    <h1>Generate a Report</h1>
    <p>Generate a report for a single user or generate new proximity values for all users.</p>
  </div>

  <form action="/reports" method="POST">
    <div class="form-group">
      <label>Report Name</label>
      <input type="text" id="reportName" class="form-control" name="reportName" required>
    </div>
    <div class="form-group">
      <label>Start Time</label>
      <input type="text" id="datepickerStart" class="form-control" name="startDate" required>
    </div>
    <div class="form-group">
      <label>End Time</label>
      <input type="text" id="datepickerEnd" class="form-control" name="endDate" required>
    </div>
    <div class="form-group">
      <label>Name (Leave Blank to Create a Report for All Users)</label>
      <input type="text" class="form-control" name="userName">
    </div>
    <div class="form-group">
      <label>Disease</label>
      <select name="diseaseName">
        <option value="Ebola" selected>Ebola</option> 
        <option value="Seasonal Influenza">Seasonal Influenza</option>
        <option value="Measles">Measles</option>
      </select>
    </div>
    <div class="form-group">
      <label>Disease Contagiousness: <input type="hidden" name="contagiousness" id="hiddencontval" value="5"></input><span id="contval">5</span></label>
      <br>
      <!-- <input type="range" name="contagiousness" id="slider" value="5" min="1" max="10"> -->
      <div id="contagiousness"></div>
    </div>
    <div class="form-group">
      <label>Distance Threshold (in feet): <input type="hidden" id="hiddenthreshval" name="threshold" value="100"></input> <span id="threshval" name="threshold" value="100">100</span></label>
      <p>This value indicates the proximity required for a user to be considered at risk of infection. A higher threshold will list more users as "at risk."</p>
      <div id="threshold"></div>
    </div>
    <div style="text-align:center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>


      <script>
      $(function() {
        $( "#startDate" ).datepicker();
      });
      $(function() {
        $( "#endDate" ).datepicker();
      });
      $(function() {
          $( "#contagiousness" ).slider({
            orientation: "horizontal",
            range: "min",
            max: 10,
            value: 5,
            min: 1,
            name: 'contagiousness',
            slide: function(e,ui) {
              $('#contval').html(ui.value);
              $('#hiddencontval').attr('value', ui.value);
            }
          });
          $( "#threshold" ).slider({
            orientation: "horizontal",
            range: "min",
            max: 1000,
            value: 100,
            min: 10,
            name: 'threshold',
            slide: function(e,ui) {
              $('#threshval').html(ui.value);
              $('#hiddenthreshval').attr('value', ui.value);
            }
          });
        });
      </script>
      <style>
        #threshold .ui-slider-range {
          background: #255FA4;
        }
        #contagiousness .ui-slider-range { 
          background-attachment: fixed;
          background-color:#0d913b;
          filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#0d913b, endColorstr=#f7f70c);
          background-image:-moz-linear-gradient(left, #0d913b 0%, #f7f70c 46%,#f23711 80%);
          background-image:linear-gradient(left, #0d913b 0%, #f7f70c 46%,#f23711 80%);
          background-image:-webkit-linear-gradient(left, #0d913b 0%, #f7f70c 46%,#f23711 80%);
          background-image:-o-linear-gradient(left, #0d913b 0%, #f7f70c 46%,#f23711 80%);
          background-image:-ms-linear-gradient(left, #0d913b 0%, #f7f70c 46%,#f23711 80%);
          background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#0d913b), color-stop(46%,#f7f70c),color-stop(80%,#f23711));
         }
      </style>

  </form>

  <hr>
