<% layout('layout') -%>

<div class="col-sm-10 col-sm-offset-1">
  <div>
    <h1>Report a New Outbreak Location</h1>
    <p>Add a new Location for App Users to Avoid</p>
  </div>

  <form action="/api/cases" method="POST">
    <div class="form-group">
      <label>Disease</label>
      <select name="disease_id">
      <% diseases.forEach(function(disease) { %>
        <option value="<%= disease.id %>" selected><%= disease.name %></option> 
      <% }); %>
      </select>
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input type="text" id="latitude" class="form-control" name="latitude" required>
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input type="text" id="longitude" class="form-control" name="longitude" required>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="text" id="date" class="form-control" name="date" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="textarea" class="form-control" name="description">
    </div>
    <div style="text-align:center">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </div>


      <script>
      $(function() {
        $( "#date" ).datepicker();
      });
      </script>

  </form>

  <hr>
