<% layout('layout') -%>
<div class="container">
  <h1>User Risk Reports</h1>
  <div class="col-sm-6">
    <a href="/newRiskReport">
    <button class="btn btn-success btn-md" type="submit">Create New Report</button>
    </a>
  </div>
  <br/><br/>
  <div class="container">
    <table class="table">
      <tr>
        <th>Report Id</th>
        <th>Report Name</th>
        <th>Disease Name</th>
        <th>Created Date</th>
      </tr>
      <% results.forEach(function(report) { %>
      <tr class='row-item'>
        <td><%= report.id %></td>
        <td><a href="#"><%= report.name %></a></td>
        <td><%= report.disease.name %></td>
        <td><%= report.created_at %></td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>
