<% layout('layout') -%>
<div class='container' style='text-align: center'>
  <h1>Successfully Submitted a New Infected User</h1>
  <p>Now, <a href='/newRiskReport'>run a report</a> to update risk values or <a href='/'>return home</a>.</p>
</div>