
h1 {
  color: #344456;
  font-size: 3rem;
  text-align: center;
}

/** Overridding Ionic Defaults */
h1, h2, h3, h4, h5, h6, p, span, div, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider{
    font-family: 'Avendir', sans-serif;
    font-weight: 200;
}

@font-face {
  font-family: Avendir;
  src: url(../lib/ionic/fonts/AvenirMedium.otf);
}

h4.editInfo {
  margin-top:10px; 
  padding: 15px; 
  color:#808080;
}

h4.report {
  padding: 15px; 
  padding-top:100px; 
  padding-bottom:0px; 
  margin-bottom:80px; 
  color:#808080;
}

h5.topMargin {
  margin-top:7px;
}

.buttonMed {
  width:95%; 
  font-size:.4em; 
  margin-top:5em; 
  border-radius:8px;
}

.mapHeight {
  height:100%;
}

#dateContainer {
  width: 55px;
  height: 55px;
  background-color: #22c1ac;
  z-index: 20;
  position: absolute;
  top: 80%;
  left: 80%;
  border-radius: 100%;
}

#datepicker {
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#dateContainer .icon {
  position: absolute;
  top: 16%;
  left: 22%;
  font-size: 35px;
  color: white;
}

.cloned-text-input {
  background-color: transparent;
  color: transparent !important;
}

.picker__input {
  background-color: transparent;
  color: transparent !important;
}

.center {
  text-align:center;
}

a.greenTrack {
  background-color:#00EB66;
}
spots-map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}

.buttonLarge {
  width:92%; 
  margin-top:2%; 
  border-radius:8px;
}

img.resize{
    width: auto;
    height: 70%;
    display: block;
    text-align: center;
    margin: 0 auto !important;
    padding:20px;
}

img.resizeIcon{
    width:100%;
    height: auto;
    padding: 18px 12px 0px 12px;
}

.topLogo {
  width: 7em; 
  height: 1.5em; 
  margin: 0 auto; 
  margin-top: 6px;
}

.tabPosition{
  margin-bottom:8px; 
  margin-top:-7px;
}

.riskHeader {
  text-align:center; 
  margin-top: 5%;
}

.iconFloat {
  margin:-5px;
  float:right; 
  font-size:1.2em;
}

.floatRight {
  float:right;
}

.standardBG {
  background-color:#22C1AC;
}

.userStats {
  position: relative; 
  text-align:center; 
  margin:26px 15px 15px 15px; 
  width:92%; 
  height:9.6rem; 
  border:solid; 
  border-width:3px; 
  border-color:#A1A1A1; 
  border-radius: 10px;
  clear:both;
}

.myHealthInfo {
  color: #6B6B6B;
  position:absolute;
  width:40%;
  text-align:center;
  border:none; 
  border-width:5px; 
  font-size:.3em;
  margin-left: 20px;
  margin-top:-10px;
  background-color:#fff;
}

.name {
  color: #6B6B6B;
  position:relative;
  width:80%;
  text-align:left;
  border:none; 

  font-size:.3em;
  margin-left: 25px;
  margin-top:30px;
  background-color:#fff;
}

/* LANDING PAGE STYLES */
.landing-content {
  width: 100%;
  height: 50%;
}

#landing-form {
  width: 100%;
  height: 60%;
  margin-top: 0 !important;
}

#landing-horiz-line {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #22C1AC;
}

.button.general-button {
  margin-top: 2% !important;
  width: 80% !important;
  height: 10% !important;
  margin: auto;
  border: none;
  padding: 0 !important;
  border-radius: 400px !important;
  font-size: 1rem !important;
}

/* SIGNIN STYLES*/
#signinForm {
  margin-top: 20% !important;
}

#signinForm h1 {
  margin-bottom: 10% !important;
}

.bigButton {
  font-size:1.5em;
  color:#fff;
}

.medButton {
  font-size:1.3em;
  color:#fff;
}

.loginButton {
  margin-top: 5% !important;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .4em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* GET STARTED STYLES */
#get-started h4 {
  color: #808080;
  margin: 20% 0;
}

#get-started-button {
  margin-top: 50% !important;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center !important;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1aacc3;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
