a.greenTrack {
  background-color:#00EB66;
}
spots-map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}

img.resize{
    width:100%;
    height: auto;
    padding:20px;
}

img.resizeIcon{
    width:100%;
    height: auto;
    padding: 18px 12px 0px 12px;
}


.userStats {
  position: relative; 
  text-align:center; 
  margin:26px 15px 15px 15px; 
  width:92%; 
  height:185px; 
  border:solid; 
  border-width:3px; 
  border-color:#A1A1A1; 
  border-radius: 10px;
  clear:both;
}

.myHealthInfo {
  color: #6B6B6B;
  position:absolute;
  width:40%;
  text-align:center;
  border:none; 
  border-width:5px; 
  font-size:.3em;
  margin-left: 20px;
  margin-top:-10px;
  background-color:#fff;
}

.name {
  color: #6B6B6B;
  position:relative;
  width:80%;
  text-align:left;
  border:none; 

  font-size:.3em;
  margin-left: 25px;
  margin-top:30px;
  background-color:#fff;
}

/* LANDING PAGE STYLES */
.landing-content {
  width: 100%;
  height: 50%;
}

#landing-form {
  width: 100%;
  height: 60%;
  margin-top: 0 !important;
}

.landing-button {
  margin-top: 2% !important;
  width: 80% !important;
  margin: auto;
  border: none;
  border-radius: 400px !important;
}


/* SIGNIN STYLES*/
#signinForm {
  margin-top: 25% !important;
}

.bigButton {
  font-size:1.5em;
  color:#fff;
}

.medButton {
  font-size:1.3em;
  color:#fff;
}

.loginButton {
  margin-top: 5% !important;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .4em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1aacc3;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}