
  <ion-view title="Edit Info">
    <ion-content has-header="true" padding="true" style="text-align:center;">

        <h1>
          Edit Info  
        </h1>
        <h4 style="margin-top:100px; padding: 15px; color:#808080;">

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="{{name}}">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="{{email}}">
          </label>
        </div>
        <button type="submit" href="/#/api/users/1" class="button button-large button-calm" style="width:88%; margin-top:180px; border-radius:8px" >
          Create Account
        </button>

    </ion-content>
  </ion-view>