
  <ion-view title="Get Started">
    <ion-content has-header="true" padding="true" style="text-align:center;">

        <h1>
        Get Started
        </h1>
        <h4 style="margin-top:100px; padding: 15px; color:#808080;">
        "Germ Theory relies on information from people around the world to track dangerous diseases."
        <br>
        <br>
        Help us keep the world healthy by telling us a bit about yourself.
        </h4>
        <button href="/#/user-info.html" class="button button-large button-calm" style="width:88%; margin-top:180px; border-radius:8px" >
          Get Started
        </button>

    </ion-content>
  </ion-view>