
  <ion-view title="Get Started">
    <ion-content has-header="true" padding="true" style="text-align:center;">
        <div id="get-started">
            <h4>
            "Germ Theory relies on information from people around the world to track dangerous diseases."
            <br>
            <br>
            Help us keep the world healthy by telling us a bit about yourself.
            </h4>
            <div id="get-started-button">
                <button ui-sref="signup" class="button button-full button-positive medButton general-button">
                    Okay
                </button>
            </div>
        </div>
    </ion-content>
  </ion-view>