<ion-view >
  <ion-content class='gradient' style="background-color:#22C1AC;" drag-content="false" scroll="false">
    <form name="signinForm" ng-submit='signin()' style='margin-top:40px;'>
      <img src="./img/germTheorySS.png" style="text-align:center;">
      <div class="list" style="margin:25px;">



<!--         <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model='user.username' placeholder='Enter your email address' required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model='user.password' placeholder='Enter your password' required>
        </label> -->


      <button ui-sref="get-started" type="submit" class="button button-full button-calm" style='border-style:none; border-radius:25px; margin-top:20px;'>
       <span class="bigButton">
        Sign Up
       </span>
      </button>

      <hr style="width:80%; margin-top:25px; margin-bottom:25px; color:#22C1AC;">

      <button class="button button-full button-calm" ui-sref="signin" style='margin-top:10px; border-style:none; border-radius:25px;'>
        <span class="medButton">
          Login
        </span>
      </button>


      <button class="button button-full button-calm" ng-click="logout()" style='border-radius:25px; border-style:none; margin-top:10px;'>
        <span class="medButton">
          Login with Facebook
        </span>
      </button>


<!--         <button class="button button-full button-positive" ng-click="logout()" style='border-radius:10px;'>Logout</button> -->
      </div>
    </form>

  </ion-content>
</ion-view>
