<ion-view title="Login">
  <ion-content>
    <ion-list>
      <ion-item type="login">
        <div class="login" style="margin-top:70px; margin-bottom:73px;">LOGIN</div>
        <div class="list">
            <input type="text" placeholder="First Name"><br><br>
            <input type="text" placeholder="Last Name"><br><br>
            <input type="text" placeholder="yourEmail@example.com"><br><br>
        </div>
        <button style="margin-bottom:100px;" type="submit" class="button button-block button-calm">Submit</button>
      </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
