<ion-view title="Login">
  <ion-content>
    <ion-list>
      <ion-item type="login" href="#/tab/track">
        <div class="login" style="margin-bottom:30px; margin-top:80px;">LOGIN</div>
        

        <div class="list">

            <input type="text" placeholder="First Name">
            <br>
            <br>
            <input type="text" placeholder="Last Name">
            <br>
            <br>
            <input type="text" placeholder="yourEmail@example.com">
            <br>
            <br>
        </div>
        
        <button type="submit" class="button button-block button-calm">Submit</button>
   
      </ion-item>

      </div


      
    </ion-list>
  </ion-content>
</ion-view>
