<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<ion-view title="Map">
  <ion-content has-header="true" padding="false">
    	<div data-tap-disabled="true" drag-content="false" class="mapHeight">
    		<spots-map style="z-index:10;"></spots-map>
    	</div>
	<div id="dateContainer">
		<input type="button" pick-a-date="time" pick-a-date-options="options" id="datepicker" placeholder=""></input>
		<span class="icon ion-calendar"></span>
	</div>
  </ion-content>
</ion-view>
