<ion-view title="Menu">
  <ion-content>
    <ion-list>
      <ion-item type="item-text-wrap" href="#/tab/track">
        <span class="item-complex">Track</span>
        <div class="icon ion-ios7-pulse-strong" style="margin-top:0px; padding:9px;"></div>
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/menu/{{option.id}}">
        <span class="item-complex">Report</span>
        <div class="icon ion-clipboard" style="margin-top:10px; padding:9px;" ></div>
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/menu/{{option.id}}">
        <span class="item-complex">Hot Spots</span>
        <div class="icon ion-fireball" style="margin-top:10px; padding:9px;"></div>
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/menu/{{option.id}}">
        <span class="item-complex">Virus Types</span>
        <div class="icon ion-medkit" style="margin-top:10px; padding:9px;"></div>
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/menu/{{option.id}}">
        <span class="item-complex">Neighborhood</span>
        <div class="icon ion-earth" style="margin-top:10px; padding:9px;"></div>
      </ion-item>

      
    </ion-list>
  </ion-content>
</ion-view>
