<link rel="stylesheet" href="css/myrisk.css" />
<ion-view title="MyRisk">
  <ion-content has-header="true" padding="true" style="text-align:center; margin-top: 7%">
    <div class="risk-view">
      <!-- <div class="item item-text-wrap" style="background-color:#52D914; border-radius:10px;">
        <p><h2>Your Risk Level is:</h2></p>
        <p><h1>{{ data.myRiskIndex }}</h1></p>
      </div> -->
      <!-- {{ data.myRiskValue }} -->
      <h3>Your risk level today is:</h3>
      <div class="pill-container">
        <div class="pill-levels"></div>
        <span class="popup arrow-up {{data.myRiskValue}}" href="#">up</span>
      </div>
    </div>

    <h5 style="color:#808080;">
      <p>"Germ-Theory" uses a unique algorithm to calculate your individual risk for infection.</p>
      <p>Your risk level is continually updated. We will alert you if your risk level changes.</p>
    </h5>

    <h3 style="font-weight:bold; color:#A1A1A1">
      <p>Symptoms to watch for:</p>
    </h3>
    <h4 style="color:#A1A1A1">
        <p>Sore Throat<p>
        <p>Headache</p>
        <p>Nausea</p>
        <p>Dizziness</p>
        <p>Stomach Pain</p>
    </h4>
  </ion-content>
</ion-view>