<link rel="stylesheet" href="css/myrisk.css" />
<ion-view title="MyRisk">
  <ion-content has-header="true" padding="true" style="text-align:center; margin-top: 5%">
    <div class="risk-view">
      <h3>Your risk level today is:</h3>
      <div class="pill-container">
        <div class="pill-levels"></div>
        <span class="popup arrow-up value-{{data.myRiskValue}}" href="#">{{ data.myRiskValue }}</span>
      </div>
    </div>
    <div class="stats-view">
      <div class="left-stat">
        <h2 class="statistic">2</h2>
        <p>Crossed path in 24 hours</p>
      </div>
      <div class="vertical-line"></div>
      <div class="right-stat">
        <h2 class="statistic">{{ data.riskIndex }}</h2>
        <p>Risk of Infection</p>
      </div>
    </div>
    <div class="calc-info-view">
      <p>How is my Risk Calculated?</p>
      <span class="info-icon"><i class="icon ion-information"></i></span>
    </div>
    <div class="news-view">
      
    </div>
    <!-- <h5 style="color:#808080;">
      <p>"Germ-Theory" uses a unique algorithm to calculate your individual risk for infection.</p>
      <p>Your risk level is continually updated. We will alert you if your risk level changes.</p>
    </h5>

    <h3 style="font-weight:bold; color:#A1A1A1">
      <p>Symptoms to watch for:</p>
    </h3>
    <h4 style="color:#A1A1A1">
        <p>Sore Throat<p>
        <p>Headache</p>
        <p>Nausea</p>
        <p>Dizziness</p>
        <p>Stomach Pain</p>
    </h4> -->
  </ion-content>
</ion-view>