<ion-view title="MyRisk">
  <ion-content has-header="true" padding="true" class="riskHeader">
    <div class="risk-view">
      <h3>Your risk level today is:</h3>
      <div class="pill-container">
        <div class="pill-levels"></div>
        <span class="popup arrow-up value-{{data.myRiskValue}}" href="#">{{ data.myRiskValue }}</span>
      </div>
    </div>
    <div class="stats-view">
      <div class="left-stat">
        <h2 class="statistic">2</h2>
        <p>Crossed path in 24 hours</p>
      </div>
      <div class="vertical-line"></div>
      <div class="right-stat">
        <h2 class="statistic">{{ data.riskIndex }}</h2>
        <p>Risk of Infection</p>
      </div>
    </div>
    <div class="calc-info-view">
      <p>How is my Risk Calculated?</p>
      <i class="icon ion-ios7-information"></i>
    </div>
    <div class="news-view">
      <div class="health-news-card">
        <i class="icon ion-thermometer news-icon"></i>
        <div class="news-content">
          <a><h3 class="news-title">Health Reminder: Flu Shot</h3></a>
          <p class="news-body">Don't forget to get your flu shot this year. Stop by your local pharmacy.</p>
        </div>
      </div>
      <div class="health-news-card">
        <i class="icon ion-earth news-icon"></i>
        <div class="news-content">
          <a><h3 class="news-title">Ebola Outbreak in Texas</h3></a>
          <p class="news-body">In Austin, Texas, an aid worker returned from Western Africa with flu-like symptoms...</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>