<ion-view title="Report">
  <ion-content has-header="true" padding="true" style="text-align:center;">


  <h4 style="padding: 15px; padding-top:100px; padding-bottom:0px; margin-bottom:80px; color:#808080;">
    "Germ-Theory" relies on information from people around the world to track dangerous diseases
    <br>
    <br>
    If you or someone you know has been diagnosed with a disease, report it now.
  </h4>


  <button class="button button-large button-calm" style="width:95%; font-size:.4em; margin-top:50px; border-radius:8px" >
    <b>
    Create a New Report
    </b>
  </button>
  </ion-content>
</ion-view>