  <ion-view title="Create Account">
    <ion-content has-header="true" padding="true" class="left">
      <div id='signup'>
        <form name="signupForm" ng-submit='signup($signupForm.$valid)'>
          <div class="list" style="margin-top:10px; padding: 15px .55em 0px .55em;">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model='user.username' ng-required='true' placeholder='Enter your email address'>
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model='user.password' ng-required='true' placeholder='Enter a new password'>
            </label>
          </div>

        <div style="text-align:center; width:100%;">

            <span class="custom-dropdown medium">
                <select>
                    <option>Age</option>
                    <option>12 - 15</option>  
                    <option>16 - 18</option>
                    <option>18 - 24</option>
                    <option>25 - 36</option>
                    <option>37 - 45</option>
                    <option>46 - 65</option>
                    <option>65+</option>
                </select>
            </span>
            <span class="custom-dropdown medium">
                <select>
                    <option>Ethnicity</option>
                    <option>Asian</option>
                    <option>American Indian</option>
                    <option>Black</option>
                    <option>White</option>
                </select>
            </span>
            <span class="custom-dropdown medium">
                <select>
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </span>
        </div>

        <ul class="list" style="text-align:left; clear:both; padding:.5em;">
          <li class="item item-toggle">Diabetes
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Cancer
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Heart Disease
            <label class="toggle toggle-positive" >
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Arthritis
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Lung Disease
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Autoimmune Disease
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">Hypertension
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>

        <button class="buttonMed button button-full button-positive" ng-disabled="signupForm.$invalid">Sign Up</button>
      </div>
    </form>

    </ion-content>
  </ion-view>