<ion-view title="Sign Up">
  <ion-content>
    <div id='signup'>
      <form name="signupForm" ng-submit='signup($signupForm.$valid)'>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="email" ng-model='user.username' ng-required='true' ng-minlength="5" ng-maxlength="20">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model='user.password' ng-required='true' ng-minlength="5" ng-maxlength="20">
          </label>
          <button class="button button-full button-positive" ng-disabled="signupForm.$invalid">Sign Up</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>