<ion-view>
  <ion-content class='standardBG gradient'>
    <form name="signinForm" class='formUp' id="signinForm" ng-submit='signin()'>
    <h1>Login</h1>
      <label class="labelUp item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model='user.username' placeholder='Enter your email address' required>
      </label>
      <label class="labelUp item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model='user.password' placeholder='Enter your password' required>
      </label>
      <button class="button button-full button-calm loginButton" ng-disabled="signinForm.$invalid">
        <span class="medButton">
          Login
        </span>
      </button>

    </form>

  </ion-content>
</ion-view>
