<div class="bar bar-header">
  <img src="./img/logo.png" style="width: 6em; height: 1.5em; margin: 0 auto; margin-top: 6px;">

  <a href="/mobile/#/settings"><!-- 
    <button class="button icon ion-gear-a" style="font-size:2em;"></button> -->
  </a>
</div>
  <ion-tabs class="tabs-icon-top">
    <ion-tab title="Map" icon="icon ion-ios7-world" href="#/tab/map">
      Home
      <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Report" icon="icon ion-compose" href="#/tab/report">
      Report
      <ion-nav-view name="tab-report"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Risk" icon="icon ion-ios7-heart" href="#/tab/myrisk">
      <ion-nav-view name="tab-myrisk"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="icon ion-ios7-gear" href="#/tab/settings">
      <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>


<!--   <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-home"></i>
      Home
    </a>
    <a class="tab-item">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div> -->