<ion-view title="Enable Tracking" ng-controller="AccountCtrl">
  <ion-content>
      <ion-item type="track" href="#/tab/track" style="margin-top:120px;">
      <h2>Track Your Location<h2>
      <button class="button button-block button-calm">
        TRACK
      </button>

    </ion-list>
      <ion-item type="stop" href="#/tab/track" style="margin-top:80px;">
      <h2>Stop Tracking Your Location<h2>
      <button class="button button-block button-calm">
        STOP
      </button>

  </ion-content>
</ion-view>
