<ion-view title="Enable Tracking" ng-controller="AccountCtrl">
  <ion-content>
    <ion-item ng-init="obj={toggle:false}">
        <p>
            <button class="button button-block button-calm" ng-if="!obj.toggle" 
              style="margin-top:140%; border-radius:5px;" ng-click="obj.toggle = true">ENABLE TRACKING</button>
            <button class="button button-block button-calm" ng-if="obj.toggle"
              style="margin-top:140%; border-radius:5px;" ng-click="obj.toggle = false">DISABLE TRACKING</button>
    </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
