<ion-view title="Enable Tracking" ng-controller="GeoCtrl">
  <ion-content>
   <ion-item>

   <div ng-init="obj={toggle2:false}">
    <div>Latitude: {{coords.latitude}}</div>
    <div>Longitude: {{coords.longitude}}</div>
      <div style="margin-top:420px;">
      <button class="button button-block button-calm" ng-if="!obj.toggle2" ng-click="obj.toggle2 = true">ENABLE TRACKING</button>
      </div>
      <div style="margin-top:420px;">
      <button class="button button-block button-calm" ng-if="obj.toggle2" ng-click="obj.toggle2 = false">DISABLE TRACKING</button>
      </div>
   </div>
   </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
