
  <ion-view title="Get Started">
    <ion-content has-header="true" padding="true" style="text-align:center;">

        <div style="text-align:center; width:100%; margin-top:100px;">

            <span class="custom-dropdown small">
                <select>
                    <option>Age</option>
                    <option>Select an option...</option>
                    <option>12 - 15</option>  
                    <option>16 - 18</option>
                    <option>18 - 24</option>
                    <option>25 - 36</option>
                    <option>37 - 45</option>
                    <option>46 - 65</option>
                    <option>65 +</option>
                </select>
            </span>
            <span class="custom-dropdown small">
                <select>
                    <option>Gender</option>
                    <option>Select an option...</option>
                </select>
            </span>
            <span class="custom-dropdown small">
                <select>
                    <option>Ethnicity</option>
                    <option>Select an option...</option>
                </select>
            </span>
            <span class="custom-dropdown small">
                <select>
                    <option>Occupation</option>
                    <option>Select an option...</option>
                </select>
            </span>
        </div>
        <button class="button button-large button-calm" style="width:88%; margin-top:100px; border-radius:8px" >
          Submit
        </button>

    </ion-content>
  </ion-view>